header {
    background-color: #244751;
    color: #E8FDFF;
    font-family: 'Monoton', cursive;
}

body {
    background-color: whitesmoke;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo:hover{
    padding: 10px;
}


